<table>
  <tbody>
    <tr>
      <td><p>Thank you for for placing your order!</p></td>
      <td><p>Order details:</p></td>
      <td><p>Product: <%= @product.name %></p></td>
      <td><p>Amount: <%= @product.price %></p></td>
    </tr>
   
  </tbody>
</table>