/* line 1, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/products.scss */
#products {
  padding-bottom: 30px;
  margin-bottom: 33px;
}

/* line 6, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/products.scss */
h1 {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 12, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/products.scss */
#notice {
  margin-top: 10px;
  padding-bottom: 30px;
}
/* line 1, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
}

/* line 34, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 38, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 43, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 48, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 52, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 58, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 65, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 75, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 81, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*General*/
/* line 4, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
* {
  box-sizing: border-box;
}

/* line 12, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
body {
  background-color: white;
  color: #333333;
  padding-left: 33px;
  padding-right: 33px;
  display: block;
  text-rendering: optimizeLegibility;
  margin: 0;
}

/*Navigation*/
/* line 24, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.navbar-inverse {
  position: static;
  z-index: 1;
  background-color: white;
  height: 50px;
  width: auto;
  text-align: left;
  border-color: white;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
/* line 35, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.navbar-inverse ul li {
  font-size: 1.5em;
  text-transform: uppercase;
}

/* line 41, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.brand {
  margin: 20px 0 20px;
  width: auto;
}

/* line 46, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.navbar .header {
  color: black;
  z-index: 1;
}

/* line 51, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
#main-nav {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-bottom: 0;
  width: auto;
  margin-bottom: 30px;
  padding-top: 20px;
}

/* line 61, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-nav li a {
  color: #777;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* line 67, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-nav li a:hover {
  color: black;
}

/* line 71, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

/*Search Box*/
/* line 77, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
#search-box {
  margin-bottom: -5px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-left: 70%;
}

/* line 84, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
input[type=search] {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding-left: 5px;
  border-radius: 5px;
  height: 30px;
}

/* line 91, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
input[type=submit] {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border-radius: 5px;
  text-transform: uppercase;
  height: 30px;
  padding-bottom: 5px;
}

/*Carousel*/
/* line 101, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.carousel-inner {
  background-color: grey;
}

/* line 105, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.carousel-caption {
  font-size: 70px;
  line-height: 85%;
  text-rendering: optimizeLegibility;
  text-align: left;
  text-transform: uppercase;
  right: 5%;
  left: 55%;
  top: 30%;
  text-shadow: none;
  display: inline;
}

/* line 118, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.carousel-control {
  background-image: none !important;
  text-shadow: none;
  color: black;
  opacity: 100;
  width: 7%;
}

/* line 126, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.carousel-control:hover, .carousel-control-focus {
  background-color: transparent;
  color: black;
  opacity: 100;
}

/* line 132, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.carousel-inner > .item > a > img {
  width: 50%;
}

/* line 136, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.carousel-indicators {
  bottom: -30px;
}

/* line 140, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.carousel-indicators > li {
  border: 0;
  border-radius: 0;
  background-color: #999;
  width: 12px;
  height: 12px;
  margin: 0;
}

/* line 149, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.carousel-indicators > .active {
  background-color: #000;
}

/*Product Page*/
/* line 155, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.page_wrap {
  padding: 0;
}

/* line 159, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.product_grid_box {
  padding: 20px;
  color: black;
  font-size: 16px;
  min-height: 120px;
  line-height: 25px;
  position: relative;
}

/* line 168, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.product_grid_box h2 {
  margin: 0;
  font-size: 20px;
  color: black;
}

/* line 174, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.product_grid_box a {
  display: block;
}

/* line 178, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.product_grid_box a:hover {
  color: black;
}

/*Footer*/
/* line 185, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
footer {
  margin-top: 30px;
  padding: 30px;
  background-color: #3C4858;
  color: white;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 0.1em;
}
/* line 195, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 201, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
footer ul li a {
  padding: 15px 15px 15px 0px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 209, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
footer ul li a:hover {
  color: black;
  text-decoration: none;
}
/* line 214, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
footer .submit_button {
  color: #3C4858;
  font-weight: 400;
}
/* line 219, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
footer .validate_email {
  padding-left: 5px;
}

/* line 224, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
#header {
  width: 1080px;
}

/* line 228, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.content ul li {
  display: inline-block;
}

/* line 232, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.content ul li a {
  color: white;
}

/* line 236, /Users/catiecharnock/Desktop/Klaxon/app/assets/stylesheets/static_pages.scss */
.copyright {
  padding-right: 30px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

