<div class="small-container thankyou-page">
  <div class="alert alert-success" id="thankyou">
    <div class="content">
      <strong>Thank you for your purchase</strong>
    </div>
  </div>
<%= link_to 'Back', products_path ,class:"btn btn-default btn-special" %>
</div>