.carousel-slide {
	margin-top: 10px;
	padding-top: 10px;
}

.carousel-indicators li {
	border-color: black;
	background-color: black;
}

.carousel-caption {
	color: black;
}

.carousel-inner .item img {
	display: block;
	margin: auto;
}