#products {
	padding-bottom: 30px;
	margin-bottom: 33px;
}

h1 {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#notice {
	margin-top: 10px;
	padding-bottom: 30px;
}

#login.container, #signup.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1320px;
  top: 80px;
  padding-bottom: 70px;
}

