* {
	box-sizing: border-box;
}

$font-stack: Roboto, Helvetica, Arial, sans-serif;
$primary-color: #a57777;
$background-color: #3C4858;

body {
	background-color: white;
	color: #333333;
	padding-left: 33px;
	padding-right: 33px;
	display: block;
	text-rendering: optimizeLegibility;
	margin: 0;
}

.navbar-inverse {
		position: static;
		z-index: 1;
		background-color: white;
		height: 50px;
		width: auto;
		text-align: left;
		border-color: white;

	ul li {
		font-size: 1.5em;
		text-transform: uppercase;
	}
}

.navbar .navbar-inverse {
	padding-bottom: 30px;
}

.brand {
	margin: 20px 0 20px;
	width: auto;
}

.navbar .header {
	color: black;
}

#main-nav {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	padding-bottom: 0;
	width: auto;
	margin-bottom: 30px;
	padding-top: 20px;
}

#top-nav {
	z-index: 1;
}

.navbar-inverse .navbar-nav li a {
	color: #777;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-inverse .navbar-nav li a:hover {
	color: black;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

footer {
	padding: 30px;
	background-color: $background-color;
	color: white;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 300;
	letter-spacing: 0.1em;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	ul li a {
		padding: 15px 15px 15px 0px;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
	}

	ul li a:hover {
		color: black;
		text-decoration: none;
	}

	.submit_button  {
		color: #3C4858;
		font-weight: 400;
	}

	.validate_email {
		padding-left: 5px;
	}
}

.content ul li {
	display: inline-block;
}

.content ul li a {
	color: white;
}

.copyright {
	padding-right: 30px;
}