/*General*/

$font-stack: Roboto, Helvetica, Arial, sans-serif;
$primary-color: #a57777;
$background-color: #3C4858;



body {
	background-color: white;
	color: #333333;
	display: block;
	text-rendering: optimizeLegibility;
	margin: 0;
}

/*Navigation*/

.navbar-inverse {
		position: relative;
		z-index: 9999;
		background-color: white;
		height: 50px;
		width: auto;
		text-align: left;
		border-color: white;
		margin-bottom: 40px;
		padding-bottom: 20px;

	ul li {
		font-size: 1.5em;
		text-transform: uppercase;
	}
}

.brand {
	margin-top: 20px;
	width: auto;
	padding-left: 15px;
}

.navbar .header {
	color: black;
}

#main-nav {
  background-color: white;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	padding-bottom: 0;
	width: auto;
	margin-bottom: 30px;
	padding-top: 20px;
}

.navbar-inverse .navbar-nav li a {
	color: #777;
	padding-top: 10px;
	padding-bottom: 5px;
}

.navbar-inverse .navbar-nav li a:hover {
	color: black;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}


/*Login Signup*/

#form-register {
	margin-top: 40px;
	margin-bottom: 80px;
}

.form-signup {
	max-width: 380px;
	heigh: auto;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #eee;
	border: 1px solid rgba(0,0,0,0.1);

	.form-signup-heading {
		text-align: center;
	}
}

/*Search Box*/

#search-box {
	margin-bottom: -5px;
	padding-bottom: 15px; 
	margin-top: 10px;
	margin-left: 60%;
}

input[type=search] {
	font-family: $font-stack;
	padding-left: 5px;
	border-radius: 5px;
	height: 30px;
}

input[type=submit] {
	font-family: $font-stack;
	border-radius: 5px;
	text-transform: uppercase;
	height: 30px;
	padding-bottom: 5px;
}

/*Carousel*/

#carousel-example-generic {
	margin-bottom: 40px;
}

.carousel-inner {
	background-color: grey;
}

.carousel-caption {
	font-size: 70px;
	line-height: 85%;
	text-rendering: optimizeLegibility;
	text-align: left;
	text-transform: uppercase;
	right: 5%;
	left: 55%;
	top: 30%;
	text-shadow: none;
	display: inline;
}

.carousel-control {
	background-image: none !important;
	text-shadow: none;
	color: black;
	opacity: 100;
	width: 7%;
}

.carousel-control:hover, .carousel-control-focus {
	background-color: rgba(0,0,0,0);
	color: black;
	opacity: 100;
}

.carousel-inner > .item > a > img {
	width: 50%; 
}

.carousel-indicators {
	bottom: -40px;
}

.carousel-indicators > li {
	border: 0;
	border-radius: 0;
	background-color: #999;
	width: 12px;
	height: 12px;
	margin: 0;
}

.carousel-indicators > .active {
	background-color: #000;
}

/*Product Page*/

.page_wrap {
	padding: 0;
}

.product_grid_box {
	padding: 20px;
	color: black;
	font-size: 16px;
	min-height: 120px;
	line-height: 25px;
	position: relative;
}

.product_grid_box h2 {
	margin: 0;
	font-size: 20px;
	color: black;
}

.product_grid_box a {
	display: block;
}

.product_grid_box a:hover {
	color: black;
}


/*Footer*/

footer {
	position: absolute;
	width: 100%;
	background-color: $background-color;
	color: white;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 300;
	letter-spacing: 0.1em;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	ul li a {
		padding: 15px 15px 15px 0px;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
	}

	ul li a:hover {
		color: black;
		text-decoration: none;
	}

	.submit_button  {
		color: #3C4858;
		font-weight: 400;
	}

	.validate_email {
		padding-left: 5px;
	}
}

#header {
	padding-top: 30px;
	padding-bottom: 30px;
}

.content ul li {
	display: inline-block;
}

.content ul li a {
	color: white;
}

.copyright {
	padding-right: 30px;
}