<div class="container" id="product-page">
  <p id="notice"><%= notice %></p>

  <h1>Products</h1>

  <br>

  <button><%= link_to 'New Product', new_product_path %></button>

  <div class="container-fluid page_wrap">
    <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
    </div>
  </div>
</div>
